.app {
  max-width: 900px;
  margin: 0 auto;
  padding: 17px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 15px;
}

.card {
  background: rgb(54, 51, 17);
  border-radius: 10px;
  padding: 13px;
  text-align: center;
  text-transform: capitalize;
}

.card img {
  width: 120px;
  height: 120px;
}